*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  background: #eee;
  height: 100%;
}

.h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 20px 5px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.relative {
  position: relative;
}