/* =========================== index */

.panel {
  margin: 20px 10px;
  padding: 10px;
  background: #fff;
  border: 1px solid #dddddd;
  box-shadow: 2px 3px 0 #dddddd;
  border-radius: 5px;
}

.panel--user {
  flex-shrink: 0;
}

.panel--profile {
  display: flex;
  flex-direction: column;
  min-width: 230px;
}

.panel--message {
  flex-grow: 1;
}

.user__img {
  display: block;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: 0 auto;
}

.user__img--round {
  border: 5px solid hsl(208, 85%, 64%);
  border-radius: 50%;
  margin: 10px auto;
  width: 150px;
  height: 150px;
}

.user__list {
  margin: 20px 0 25px;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
}

.user__list--profile {
  font-size: 15px;
  margin: 20px -10px;
  padding: 20px 30px;
  background: hsl(208, 95%, 54%);
  color: #fff;
}

.user__list-item {
  margin: 5px 0;
  text-align: center;
}

.user__name {
  padding: 0 20px;
  margin: 5px auto 0;
  font-weight: 700;
}

.user__full-name {
  color: #1991F9;
  font-weight: 700;
  display: block;
  text-decoration: none;
}

.user__full-name:hover {
  text-decoration: underline;
}

.post-form {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.post-form__text {
  height: 140px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: all .5s ease-in-out;
}

.post-form__button {
  margin-left: auto;
  background-color: hsl(208, 95%, 54%);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  transition: all .15s ease-in-out;
  cursor: pointer;
}

.post-form__button:hover {
  background-color: hsl(208, 95%, 48%);
}

@media (min-width: 800px) {
  .panels--profile {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .panels--user {
    display: flex;
  }

  .panel--user {
    width: 250px;
  }
}