*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-image {
  position: fixed;
  background-image: linear-gradient(rgba(255, 159, 207, .2), rgba(67, 90, 255, 0.3)), url('../images/backgrounds/partybg.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 10px;
}

.box {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
  width: 100%;
  max-width: 350px;
  /* height: 100%; */
}

.form {
  width: 100%;
}

.form__title {
  margin: 0 0 30px;
  font-weight: 400;
  text-align: center;
}

.form__input {
  display: block;
  padding: 5px;
  margin: 5px 0;
  width: 100%;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form__btn {
  display: block;
  border: none;
  background: hsl(208, 85%, 36%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 30px auto 30px;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

.form__btn:hover {
  background: hsl(208, 80%, 46%);
}

.form__error {
  color: red;
  margin: 5px 0;
  font-size: 15px;
}

.form__message {
  color: #333;
  font-size: 14px;
  text-align: center;
  margin: 0;
}


/* ==================== nav */
.nav {
  width: 100%;
  position: fixed;
  background-color: hsl(208, 95%, 54%);
  padding: 10px;
  transition: transform 0.5s;
}

.nav__branding {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.nav__logo, .nav__username {
  border-radius: 5px;
  padding: 10px;
  transition: all .15s ease-in-out;
} 

.nav__logo:hover, .nav__username:hover {
  background-color: hsl(208, 95%, 48%);
} 

.nav__username {
  color: #fff;
  text-decoration: none;
}

.nav__menu {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 0;
  list-style-type: none;
}

.menu__link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  font-size: 22px;
  transition: all .15s ease-in-out;
  border-radius: 5px;
}

.menu__link:hover {
  background-color: hsl(208, 95%, 48%);
}

.nav__search {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  align-items: center;

}

.nav__search-input {
  width: 100%;
  border: none;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

@media (min-width: 1000px) {
  .nav__container {
    display: flex;
    align-items: center;
  }

  .nav__search {
    order: 1;
  }

  .nav__menu {
    order: 2;
  }
}